body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u564 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u566 {
  position:absolute;
  left:50px;
  top:50px;
  width:250px;
  height:490px;
  color:#059FF7;
}
#u567 {
  position:absolute;
  left:2px;
  top:237px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#059FF7;
}
#u568 {
  position:absolute;
  left:62px;
  top:88px;
  width:223px;
  height:403px;
  color:#059FF7;
}
#u569 {
  position:absolute;
  left:2px;
  top:194px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u570 {
  position:absolute;
  left:92px;
  top:179px;
  width:166px;
  height:166px;
}
#u571 {
  position:absolute;
  left:2px;
  top:75px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u572 {
  position:absolute;
  left:146px;
  top:386px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u573 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
