body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u622 {
  position:absolute;
  left:150px;
  top:50px;
  width:250px;
  height:490px;
  color:#059FF7;
}
#u623 {
  position:absolute;
  left:2px;
  top:237px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#059FF7;
}
#u624 {
  position:absolute;
  left:162px;
  top:88px;
  width:223px;
  height:403px;
  color:#059FF7;
}
#u625 {
  position:absolute;
  left:2px;
  top:194px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  position:absolute;
  left:162px;
  top:88px;
  width:111px;
  height:35px;
}
#u628 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  position:absolute;
  left:273px;
  top:88px;
  width:111px;
  height:35px;
}
#u630 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u632 {
  position:absolute;
  left:252px;
  top:464px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u634 {
  position:absolute;
  left:324px;
  top:464px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u636 {
  position:absolute;
  left:176px;
  top:464px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  position:absolute;
  left:162px;
  top:450px;
  width:76px;
  height:41px;
}
#u639 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:238px;
  top:450px;
  width:76px;
  height:41px;
}
#u641 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:314px;
  top:450px;
  width:71px;
  height:41px;
}
#u643 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:177px;
  top:229px;
  width:197px;
  height:122px;
}
#u645 {
  position:absolute;
  left:2px;
  top:53px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:210px;
  top:272px;
  width:132px;
  height:35px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:188px;
  top:320px;
  width:75px;
  height:24px;
}
#u649 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  position:absolute;
  left:291px;
  top:320px;
  width:75px;
  height:24px;
}
#u651 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
