body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u2 {
  position:absolute;
  left:33px;
  top:27px;
  width:250px;
  height:490px;
  color:#059FF7;
}
#u3 {
  position:absolute;
  left:2px;
  top:237px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#059FF7;
}
#u4 {
  position:absolute;
  left:45px;
  top:65px;
  width:223px;
  height:403px;
  color:#059FF7;
}
#u5 {
  position:absolute;
  left:2px;
  top:194px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u6 {
  position:absolute;
  left:75px;
  top:156px;
  width:166px;
  height:166px;
}
#u7 {
  position:absolute;
  left:2px;
  top:75px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:52px;
  top:405px;
  width:93px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:168px;
  top:405px;
  width:93px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u12 {
  position:absolute;
  left:52px;
  top:75px;
  width:21px;
  height:17px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u15 {
  position:absolute;
  left:52px;
  top:86px;
  width:54px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u17 {
  position:absolute;
  left:69px;
  top:139px;
  width:57px;
  height:34px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u21 {
  position:absolute;
  left:396px;
  top:27px;
  width:250px;
  height:490px;
  color:#059FF7;
}
#u22 {
  position:absolute;
  left:2px;
  top:237px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#059FF7;
}
#u23 {
  position:absolute;
  left:408px;
  top:65px;
  width:223px;
  height:403px;
  color:#059FF7;
}
#u24 {
  position:absolute;
  left:2px;
  top:194px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25 {
  position:absolute;
  left:420px;
  top:86px;
  width:50px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:501px;
  top:97px;
  width:44px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:408px;
  top:152px;
  width:223px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:408px;
  top:192px;
  width:223px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:408px;
  top:232px;
  width:223px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:408px;
  top:272px;
  width:223px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:408px;
  top:312px;
  width:223px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:408px;
  top:352px;
  width:223px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:408px;
  top:392px;
  width:223px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 219, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:408px;
  top:432px;
  width:223px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u45 {
  position:absolute;
  left:420px;
  top:164px;
  width:102px;
  height:18px;
  color:#000000;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u47 {
  position:absolute;
  left:420px;
  top:204px;
  width:44px;
  height:18px;
  color:#000000;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u49 {
  position:absolute;
  left:420px;
  top:244px;
  width:59px;
  height:18px;
  color:#000000;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u51 {
  position:absolute;
  left:420px;
  top:283px;
  width:87px;
  height:18px;
  color:#000000;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:420px;
  top:323px;
  width:59px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:420px;
  top:364px;
  width:59px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:420px;
  top:404px;
  width:59px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:420px;
  top:442px;
  width:59px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u61 {
  position:absolute;
  left:599px;
  top:162px;
  width:24px;
  height:22px;
}
#u62 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u63 {
  position:absolute;
  left:599px;
  top:200px;
  width:24px;
  height:22px;
}
#u64 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u65 {
  position:absolute;
  left:599px;
  top:240px;
  width:24px;
  height:22px;
}
#u66 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u67 {
  position:absolute;
  left:599px;
  top:281px;
  width:24px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u69 {
  position:absolute;
  left:599px;
  top:323px;
  width:24px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u71 {
  position:absolute;
  left:599px;
  top:362px;
  width:24px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u73 {
  position:absolute;
  left:599px;
  top:401px;
  width:24px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u75 {
  position:absolute;
  left:599px;
  top:439px;
  width:24px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:140px;
  height:25px;
}
#u77 {
  position:absolute;
  left:270px;
  top:307px;
  width:128px;
  height:5px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-6px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:305px;
  top:272px;
  width:59px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
